{% extends 'main.html' %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="header-bar">
        <div>
            <h1>Hello {{current_user.first_name|title}}</h1>
            <h3 style="margin:0">You have <i>{{ count }}</i> incomplete
                {% if plural %}
                tasks
                {% else %}
                task
                {% endif %}
            </h3>
        </div>

        {% if current_user.is_authenticated %}
        <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% else %}
        <a href="#">Login</a>
        {% endif %}
    </div>

    <div id="search-add-wrapper">
        <form action="" method="post" style="margin-top: 20px; display: flex;">
            <input type="text" name="search-area" value="{{search_input}}">
            <input class="button" type="submit" value="Search">
        </form>
        <a id="add-link" href="{{ url_for('views.task_form') }}">&#x2b;</a>
    </div>


    <div class="task-items-wrapper">
        {% for task in tasks %}
            <div class="task-wrapper">
                {% if task.complete %}
                    <div class="task-title">
                        <div class="task-complete-icon"></div>
                        <i><s><a href="{{ url_for('views.task_update', id=task.id) }}">{{task.title}}</a></s></i>
                    </div>
                <a class="delete-link" href="{{ url_for('views.task_delete', id=task.id) }}">&#215;</a>
                {% else %}
                    <div class="task-title">
                        <div class="task-incomplete-icon"></div>
                        <a href="{{ url_for('views.task_update', id=task.id) }}">{{task.title}}</a>
                    </div>
                <a class="delete-link" href="{{ url_for('views.task_delete', id=task.id) }}">&#215;</a>
                {% endif %}

            </div>
        {% else %}
        <h3 style="margin-left:10px;">No Items in List</h3>
        {% endfor %}
    </div>

{% endif %}

{% endblock %}




